/* 多条件查询/过滤 */
.filter{
	min-height: 100px;
	background-color: #fbfbfb;
	margin: 20px auto;
}

.filter .group{
	padding: 15px 60px 15px 180px;
	color: #4c4948;
	font-size: 12px;
	line-height: 18px;
	min-height: 30px;
	position: relative;
}
.filter .group .caption{
	position: absolute;
	left: 30px;
	top: 21px;
	width: 150px;
}
.filter .group .condition{
	color: #4c4948;
	display: inline-block;
	position: relative;
	margin: 6px 24px 6px 0px;
	padding:  0 5px;
}
.filter .group .caption .condition{
	position: absolute;
	right: 0;
	top: -6px;
}
.filter .group .caption .condition::before,
.filter .group .condition::after{
	content: ' ';
	display:block;
	width: 1px;
	height: 18px;
	background-color: #dcdddd;
	top: 0;
	right: -12px;
	position: absolute;

}
.filter .group .caption .condition::before{
	left: -12px;
}

.filter .group .condition_focus,
.filter .group .condition:hover{
	color: #fff;
	background-color: #60bff2;
}

/* 医院列表 */
.datalist{

}
.datalist .item{
	height: 130px;
	padding: 23px 0 23px 224px;
	border: 1px solid #f4f6fa;
	border-bottom: none;
	position: relative;
}

.datalist .item .cover{
	width: 180px;
	height: 130px;
	position: absolute;
	overflow: hidden;
	left: 15px;
	top: 23px;
}
.datalist .item:hover{
	background-color: #f5fcff;

}
.datalist .item .cover img{
	width: 100%;
	height: 100%;
}

.datalist .item .name{
	padding:13px 0;
	color: #000;
	font-size: 15px;
}
.datalist .item .name .level{
	padding: 0 2px 0 14px;
	color: #f7b52c;
	font-size: 12px;
}
.datalist .item .address,
.datalist .item .phone,
.datalist .item .time{
	margin-bottom: 8px;
	font-size: 13px;
	color: #888;
	line-height: 17px;
	padding-left: 22px;
	background: url(../images/icon-tel.png) no-repeat;
	background-position: 1px -36px;
}
.datalist .item .phone{
		background-position: 1px -0;
}
.datalist .item .address{
	background-position: 1px -17px;
}
.datalist .item .button{
	position: absolute;
	width: 105px;
	height: 37px;
	right: 70px;
	top: 76px;
	display: block;
	background: url(../images/button-now.png) no-repeat 0 0;
}
.datalist .item .button:hover{
	background-position: -105px 0;
}
/* 分页 */
.pagination{
	height: 45px;
	line-height: 25px;
	border: 1px solid #f4f6fa;
	text-align: center;
	color: #666;
	font-size: 15px;
	margin-bottom: 200px;
	padding: 10px 0;
	box-sizing: border-box;
}

.pagination .item{
	margin-left: 14px;
	color: #666;
}
.pagination .item_icon{
	background: url(../images/icon-pagination-arrow.png) no-repeat;
}
.pagination .item_icon:hover{
	background-color: #00b3ec;
}
.pagination .item_prev{
	background-position: 6px -15px;
}
.pagination .item_prev:hover{
	background-position: -20px -15px;
}
.pagination .item_next{
	background-position: 8px 4px;
}
.pagination .item_next:hover{
	background-position: -18px 4px;
}
.pagination .input_page,
.pagination .item_page,
.pagination .item_icon{
	display: inline-block;
	width: 23px;
	height: 23px;
	line-height: 23px;
	border:solid 1px #dcdddd;
	border-radius: 3px;
}
.pagination .item_page_focus{
	background: #00b3ec;
	color: #fff;
}
.pagination .input_page{
	width: 45px;
	text-align: center;
}
.pagination .input_submit{
	width: 34px;
	height: 25px;
	display: inline-block;
	margin-left: 10px;
	background: url(../images/icon-pagination-go.png);
	vertical-align: middle;
}


